@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins&display=swap");

.contact-section {
  width: 80%;
  margin: 50px auto;
  font-family: "Poppins", sans-serif;
}
.contact-box {
  background: #fff;
  display: flex;
}
.box-left {
  flex-basis: 60%;
  padding: 40px 10px;
}
.box-right {
  
  flex-basis: 40%;
  padding:15px 10px;
  background: #1c00b5;
  color: #fff;
}
.contact-section h1 {
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right:25px;
}
.input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 90%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}
label {
  margin-bottom: 6px;
  display: block;
  color: #1c00b5;
}
.send-btn {
  background: #1c00b5;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.box-left h3 {
  color: #1c00b5;
  font-weight: 600;
  margin-bottom: 30px;
}
tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}
.contact-box {
  margin-top: 30px;
}
