/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Poppins&display=swap'); */

* {
  margin: 0;
  padding: 0;
}
body{
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3e8ff;
}
header {
  width: 100%;
  height: 70px;
  background-color: #C3F8FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  opacity: 1;
}
header {
  box-shadow: 10px 5px 5px #fefefe;
}
.sticky {
  position: fixed;
}
.logo {
  padding-left: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}
.nav-bar ul {
  display: flex;
  justify-content: flex-end;
}
.nav-bar ul li a {
  display: block;
  color: #000;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: #11101b;
  background: #27e1c1;
}
.nav-bar ul li a.active {
  color: #11101b;
  background: #27e1c1;
}
.hamburger {
  display: none;
}

.img {
  text-align: center;
  border-radius: 100%;
  width: 250px;
  height: auto;
  margin: 0 90px;
  /* padding-left:500px; */
  /* position:relative;
    left:114px; */
}
.circular-image {
  margin: 40px 30px;
  padding-bottom: 80px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.content {
  /* background-image: url(nature2.jpg); */

  /* height: 90vh; */

  /* chages in width */
}

/* nav ul li a:hover{
    color:rgb(216, 12, 12);
    transition: all 0.6s linear;
} */

.about-me {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding: 45px 50px;
}
.about-me-header {
  padding-top: 30px;
  text-align: center;
  text-decoration: underline;
}

/* content section------------------------------------------------------------------------------------------  */
.content {
  width: 100%;
  padding-top: 210px;
  display: flex;
  justify-content: center;
  height: 90vh;
}
.grid {
  display: grid;
  gap: 35px;
  margin-left: 20px;
}
.social-media {
  margin: 20px 0;
  /* margin:auto;
  width:50%; */
}
.social-media-btn {
  border: 2px solid #E5E0FF;
  border-radius: 50%;
  height: 58px;
  margin: 5px 5px;
  background-color: #E5E0FF;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  transition: all 0.2s  linear;
 
}
.social-media-btn:hover{
  transform:scale(1.08);


}

.link-img {
  font-size: 24px;
  padding: 0 15px;
}
/* .mydetails{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
} */
.mydetails h3 {
  font-size: 25px;
}
.mydetails h1 {
  font-size: 40px;
}
.mydetails span {
  color: red;
}
.mydetails {
  margin: 0 190px;
  /* position:relative;
    left:100px; */
}
.mybtn {
  margin: 2rem 2rem;
  font-size: 15px;
  text-align: center;
  padding: 12px 12px;
  border: 2px solid blueviolet;
  border-radius: 10rem;
  /* position: relative;
  left: 30px; */
  background-color: blueviolet;
  color: white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);

  transition: all 0.2s linear;
}
.contact-button {
  text-align: center;
}
.mybtn:hover,
.mybtn:active {
  transform: scale(1.05);
  background-color: rgb(103, 21, 141);
  color: white;
}
.myimage {
  width: 50%;
  padding: 0 12px;
  border: none;
}
/* .display{
    display:none;
} */
.img-btn {
  border: 2px solid black;
  border-radius: 50%;
  position: sticky;
}
/* .scrolltoTop img{
    position:fixed;
    top:43rem;
    left:90rem;
    width: 50px;
    text-align: center;
    z-index:1;
} */

.hidden {
  position: sticky;
  top: 0;
}
.hide {
  display: none;
}

/* .about-me{
    margin:30px 100px;
    height: 30vh;
} */

.my-image {
  width: 250px;
  height: auto;
}
.my_skill_content {
  width: 100%;
  /* background: #b2b2be; */
  padding: 60px 0;
}
.my_skill_content h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 2px;
}
.my_skill h3 {
  margin: 5px;
}
.my_skill {
  width: 700px;
  margin: 60px auto;
  color: #080808;
  padding: 20px 0;
  /* box-shadow: -13px 11px 25px 3px rgb(0, 0, 0, 0.25); */
}
.my_skill li {
  margin: 20px 0;
  padding: 10px;
}
.bar {
  background: #353b48;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 10px 10px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0, 0.25, 1);
}
.bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgba(236, 0, 140, 1) 0%,
    rgba(252, 103, 103, 1) 100%
  );
}
.html {
  width: 90%;
  animation: html 3s;
}
.CSS {
  width: 80%;
  animation: CSS 3s;
}
.JavaScript {
  width: 70%;
  animation: JavaScript 3s;
}
.Java {
  width: 80%;
  animation: Java 3s;
}
.C {
  width: 90%;
  animation: C 3s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
}
@keyframes CSS {
  0% {
    width: 0%;
  }
  80% {
    width: 80%;
  }
}
@keyframes JavaScript {
  0% {
    width: 0%;
  }
  70% {
    width: 70%;
  }
}
@keyframes Java {
  0% {
    width: 0%;
  }
  80% {
    width: 80%;
  }
}
@keyframes C {
  0% {
    width: 0%;
  }
  90% {
    width: 90%;
  }
}
.about {
  width: 100%;
  padding: 78px 0px;
  /* background-color: #b2b2be; */
}
.about img {
  height: auto;
  width: 250px;
}
.about-text {
  width: 550px;
}
.about-text h1,
h5 {
  text-align: center;
}
.about-text h1 {
  color: #000;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #11101b;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 25px;
  letter-spacing: 2px;
}
.about-text span {
  color: #f9004d;
}
.about-text p {
  color: #3f0071;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.cv-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.read-more-btn {
  background: #f0004d;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
.read-more-btn:hover {
  background: transparent;
  border: 2px solid #f9004d;
  cursor: pointer;
}
.education {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.education h2 {
  height: 40px;
  letter-spacing: 2px;
  font-size: 58px;
  padding-bottom: 50px;
}
.education_content {
  width: 50%;
  border-left: 1px solid #000;
  padding: 0px 20px;
}
.box {
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.4s;
}
.box:hover {
  box-shadow: 0px 3px 12px 0px #ccc;
  border: 1px solid transparent;
}
.box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: 102%;
  top: 0;
  background-color: #11a372;
  border: 2px solid white;
}
.box h4 {
  position: relative;
  color: #11a372;
}
.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: helvetica;
  color: #444;
}
.box p {
  line-height: 1.2;
  color: #666;
  font-size: 17px;
}
.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.percentage {
  float: right;
}
.skill-heading {
  text-align: center;
  padding: 20px 0;
  text-decoration: underline;
}
.text-footer {
  text-align: center;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
footer {
  padding: 20px 0;
}
@media screen and (max-width: 980px) {
  header {
    padding: 0 50px;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }
  .nav-bar {
    height: 0;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.2s;
    z-index: 1000;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 350px;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 60px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar ul li a {
    margin-bottom: 12px;
  }
}
